<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>movbot controller</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/javascripts/jquery-2.2.4.min.js'></script>
		<script src='/javascripts/socket.io-1.4.5.js'></script>
		<script src='/javascripts/jsmpg.js'></script>
		<script>
			var socket = io();
			var state = '<%= state %>';

			function update()
			{
				var b = (state == 'run');
				$('#txtState').text(b ? '구동' : '정지');
				$('#btnSubmit').val(b ? '정지' : '구동');
			}

			socket.on('state', function(s) {
				state = s;
				if (state == 'uninit')
				{
					alert('board has not initialized yet');
				}
				update();
			});

			$(function() {
				update();

				var streamclnt = new WebSocket('ws://' + location.hostname + ':3002/');
				var cvCamera = document.getElementById('cvCamera');
				var player = new jsmpeg(streamclnt, { canvas: cvCamera });

				$('#ctrlForm').submit(function(event) {
					event.preventDefault();

					var bForRun = (state != 'run');
					socket.emit('motor', bForRun);
				});
			});
		</script>
	</head>
	<body>
		<h1>movbot controller</h1>
		<form id='ctrlForm' action=''>
			<table border='1'>
				<tr>
					<th>
						<p id='txtState'></p>
					</th>
				</tr>
				<tr>
					<th colspan='2'>
						<input type='submit' id='btnSubmit' value='OK'>
					</th>
				</tr>
			</table>
		</form>
		<canvas id='cvCamera' width='640' height='480'></canvas>
	</body>
</html>

